/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
    background-color: #d5e1ef;
    height: 100vh;
    width: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner {
    background-color: #fff;
    padding: 16px;
    border-radius: 20px;
    width: 320px;
    height: 497px;
}

.qr {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}


.title {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #1f314f;
    letter-spacing: 0;
    margin-top: 24px;
    margin-bottom: 16px;
}

.description {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.01em;
    margin: auto;
    text-align: center;
    color: #7d889e;
    max-width: 256px;
}
